@charset "UTF-8";
@import "reset.css";
[class^="atom-button-"],
[class*=" atom-button-"] {
  border: none;
}
@font-face {
  font-family: facebook;
  src: url("./ico-fonts/facebook.eot?-njzm3x");
  font-weight: normal;
  font-style: normal;
}
.atom-button-facebook {
  display: inline-block;
  float: left;
  padding: 4px;
  width: 100%;
  min-width: 30%;
  height: 40px;
  color: #000;
  font-weight: bold;
  background: #18249c;
}
.atom-button-facebook:before {
  content: '\e600';
  font-family: facebook;
}
.atom-button-twitter {
  display: inline-block;
  float: left;
  padding: 4px;
  width: 100%;
  min-width: 30%;
  height: 40px;
  color: #000;
  font-weight: bold;
  background: #00a5c9;
}
.atom-button-gplus {
  display: inline-block;
  float: left;
  padding: 4px;
  width: 100%;
  min-width: 30%;
  height: 40px;
  color: #000;
  font-weight: bold;
  background: #c2000a;
}
.molecule-social-login-buttons-wrapper {
  width: 30%;
}
.molecule-social-login-buttons-wrapper .atom-button {
  width: 33.3%;
  min-width: 33.3%;
  height: 30px;
}
.atom-input {
  margin: 5px 0px;
}
.atom-input-email {
  display: inline-block;
  float: left;
  padding: 4px;
  width: 100%;
  min-width: 30%;
  height: 30px;
  color: #000;
  font-weight: bold;
  background: #fff;
  color: #000;
}
.atom-input-password {
  display: inline-block;
  float: left;
  padding: 4px;
  width: 100%;
  min-width: 30%;
  height: 30px;
  color: #000;
  font-weight: bold;
  background: #fff;
  color: #000;
}
.atom-button-save {
  display: inline-block;
  float: left;
  padding: 4px;
  width: 100%;
  min-width: 30%;
  height: 40px;
  color: #000;
  font-weight: bold;
  background: #019956;
}
.atom-input {
  margin: 5px 0px;
}
.organism-login {
  width: 100%;
}
.organism-login {
  width: 100%;
}
