@font-face
  font-family facebook
  src url('./ico-fonts/facebook.eot?-njzm3x')
  src url('./ico-fonts/facebook.eot?#iefix-njzm3x') format('embedded-opentype')
      url('./ico-fonts/facebook.woff?-njzm3x') format('woff')
      url('./ico-fonts/facebook.ttf?-njzm3x') format('truetype')
      url('./ico-fonts/facebook.svg?-njzm3x#facebook') format('svg')
  font-weight normal
  font-style normal