atom-input(bg = #FFF)
  atom-create(bg, 4px, 30px)

.atom-input
  atom-input()
  color color-input

.atom-input-text
  atom-input()
  color color-input

.atom-input-password
  atom-input()
  color color-input

.atom-input-email
  atom-input()
  color color-input
  
