@require '../index.styl'
@require '../atoms/buttons/facebook.styl'
@require '../atoms/buttons/twitter.styl'
@require '../atoms/buttons/gplus.styl'

.molecule-social-login-buttons-wrapper
  width 30%
  .atom-button
    atom-size(30px, 33.3%, 33.3%)